//VARIABLES

$brown: rgb(80, 35, 10);
$sepia: rgb(255, 240, 180);

//GENERAL

* {
  box-sizing: border-box;
}

html {
  background-color: $brown;
  background-image: url("../images/wood-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  margin: 0;
  color: $brown;
  font-family: "Crimson Text", serif;
  font-size: 20px;
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

.app {
  display: grid;
  align-items: center;
  height: 100vh;
}

.button {
  padding: .25em .75em 0;
  cursor: pointer;
  font-family: "Kalam", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: 3px solid $brown;
  background-color: $sepia;
  color: $brown;
}

.button.hovered {
  color: $sepia;
  background-color: $brown;
}

//REGISTER & LOGIN

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
  background: $sepia;
  box-shadow: 2px 2px 5px black;
}

.reg-title {
  margin: 0 0 .5em;
  font-size: 1.75rem;
  font-weight: 600;
  text-decoration: underline;
}

.reg-input-box {
  margin: 0 0 1em;
}

.reg-label {
  margin-right: .5em;
}

#reg-username,
#reg-password {
  height: 2em;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid $brown;
}

.reg-text {
  margin: 1em 0 .5em;
}


//MAIN

.main-container {
  display: grid;
  grid-template-rows: 2em auto;
  height: 100%;
  padding: .5em;
}

.main-container.dark {
  background: rgb(20, 20, 20);
  background-image: url("../images/wood-background-dark.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.open-nav-button {
  justify-self: end;
  border: none;
  background: none;
  color: $sepia;
  font-size: 2rem;
  cursor: pointer;
}

//NAVIGATION

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 100%;
  width: 12em;
  height: 90%;
  background: $sepia;
  padding: 0 1em 1.5em;
  box-shadow: 2px 2px 5px black;
  transition: transform 400ms;
}

.nav-container.open {
  transform: translateX(-100%);
}

.close-nav-button {
  align-self: start;
  justify-self: end;
  margin: 0;
  padding: 0;
  color: $brown;
  background: $sepia;
  font-family: inherit;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.greeting {
  margin: 0 0 .25em;
}

.theme-switch-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: .25em;
  margin: 0 0 1em;
}

.theme-switch-label {
  margin-top: .2em;
  font-weight: 600;
}

.theme-switch {
  color: $brown;
  font-size: 1.75rem;
  background: $sepia;
  border: none;
  cursor: pointer;
}

.previous-entries {
  margin: 1.25em 0 0;
  font-weight: 600;
  text-decoration: underline;
}

.nav-links-container {
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: scroll;
  width: 8em;
  max-height: 100%;
  scrollbar-color: $brown $sepia;
  scrollbar-width: thin;
}

.nav-links-container::-webkit-scrollbar {
  width: .25em;
  height: 0;
}

.nav-links-container::-webkit-scrollbar-track {
  background: none;
}

.nav-links-container::-webkit-scrollbar-thumb {
  background: $brown;
  border: none;
}

.nav-link {
  padding: 0 .25em;
  margin: .5em;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  background-color: $sepia;
  border: none;
  border-bottom: 3px solid $sepia;
  color: $brown;
}

.nav-link.hovered {
  border-color: $brown;
}

.nav-container.dark,
.nav-container.dark .button,
.nav-container.dark .theme-switch,
.nav-container.dark .close-nav-button,
.nav-container.dark .nav-links-container {
  border-color: white;
  color: white;
  background: black;
  scrollbar-color: white black;
}

.nav-container.dark .button.hovered {
  color: black;
  background: white;
}

.nav-container.dark .nav-link {
  border-color: black;
  color: white;
  background: black;
}

.nav-container.dark .nav-link.hovered {
  border-color: white;
}

.nav-container.dark .nav-links-container::-webkit-scrollbar-thumb {
  background: white;
  border: none;
}

@media (min-width: 900px) {
  .nav-container {
    position: absolute;
    top: 2em;
    left: 2em;
    width: auto;
    max-width: 15em;
    padding: 1.5em;
  }

  .nav-container.open {
    transform: none;
  }

  .open-nav-button,
  .close-nav-button {
    display: none;
  }
}

//CONTENT

.content-container {
  margin: .5em;
  padding: 1em;
  background: $sepia;
  box-shadow: 2px 2px 5px black;
}

.displayed-entry {
  margin: 0;
  white-space: pre-wrap;
  font-family: "Kalam", sans-serif;
  font-size: 1.25rem;
}

.entry-header {
  margin: .5em 0 0;
  font-family: "Kalam", sans-serif;
  text-decoration: underline;
  font-size: 1.75rem;
}

.new-entry-textarea {
  width: 100%;
  height: 300px;
  resize: none;
  background: $sepia;
  border: none;
  color: inherit;
  font-family: "Kalam", sans-serif;
  font-size: 1.25rem;
}